# ===== Environment =====
.env
.env.local
.env.production

# ===== Database =====
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# ===== Logs =====
*.log

# ===== IDE =====
.idea/
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
